<h1><%= pluralize(@resources.size, 'Resource') %></h1>

<table class="table resources">
  <thead>
    <tr> 
      <th>Resource</th>
      <th>Description</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
  <% @resources.each do |resource| %>
    <tr>
      <td><%= link_to resource.name, resource_path(resource) %></td>
      <td><%= resource.description %></td>
      <td><%= resource.rating %>
    </tr>
  </tbody>
<% end %>
</table>
