<h1><%= pluralize(@resources.size, 'Resource') %></h1>

<ul>
  <% @resources.each do |resource| %>
    <li><%= link_to resource.name, resource.link %></li>
    <span><%= resource.rating %></span>
  <% end %>
</ul>
