<h3>Keywords</h3>

<div class="keyword-button">
  <%= link_to "Create New Keyword", new_keyword_path, class: "btn btn-success btn-sm" %>
</div>

<ul class="keyword-list">
<% @keywords.each do |keyword| %>
  <li>
  <h4><%= keyword.name %> <%= link_to "Edit", edit_keyword_path(keyword), class: "btn btn-primary btn-sm" %></h4>
  </li>
<% end %>
</ul>


