/* index page */

.resources {
  list-style: none;
}

/* flash */
.flash-notice {
  background-color: green;
  text-align: center;
  height: 20px;
}

.flash-alert {
  background-color: red;
  text-align: center;
  height: 20px;
}




