/* index page */

.resources {
  list-style: none;
}

/* flash */
.flash-notice {
  background-color: green;
  text-align: center;
  height: 20px;
}

.flash-alert {
  background-color: red;
  text-align: center;
  height: 20px;
}

/* navbar */
ul.nav a:hover { 
  background-color: #9DC4D1 !important; 
}

.main-view {
  background-color: red;
  height: 500px;
}
