.visit-site {
  float: left;
  margin-right: 10px;
  margin-left: 14px;
}

.resource-header {
  background-color: #9DC4D1;
  border-bottom: 1px solid black;
  text-align: center;
}

.keyword-search {
  background-color: #9DC4D1;
  border-bottom: 1px solid black;
  text-align: center;
}

.resource-admin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.resource-form {
  margin-top: 10px;
}

label.check_box {
  width: 100px;
}

/* jquery */

.highlight {
  color: red;
}
