.visit-site {
  float: left;
  margin-right: 10px;
}

.resource-header {
  background-color: #9DC4D1;
  border-bottom: 1px solid black;
  text-align: center;
}

.keyword-search {
  background-color: #9DC4D1;
  border-bottom: 1px solid black;
  text-align: center;
}
